@{
    ViewData["Title"] = "Add Permission";
}

<h1>Add Permission</h1>

<form asp-action="AddPermission" method="post">
    <div class="form-group">
        <label for="permissionName" class="control-label">Permission Name</label>
        <input type="text" id="permissionName" name="permissionName" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>